/**
* Colors borrowed from Tailwind:
* https://tailwindcss.com/docs/customizing-colors/#default-color-palette
*/
:root {
  --blue-300: #90CDF4;
  --blue-500: #4299E1;

  --green-300: #9AE6B4;
  --green-500: #48BB78;

  --red-300: #FEB2B2;
  --red-500: #F56565;

  --yellow-300: #FAF089;
  --yellow-500: #ECC94B;

  --gray-100: #F7FAFC;
  --gray-200: #EDF2F7;
  --gray-300: #E2E8F0;
  --gray-400: #CBD5E0;
  --gray-500: #A0AEC0;
  --gray-700: #4A5568;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Utilities */
.flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-grow { flex-grow: 1; }

.mt { margin-top: 1rem; }

.overflow-x-auto { overflow-x: auto; }

.text-left { text-align: left; }
.text-right { text-align: right; }
/* Utilities end */

body {
  font-family: monospace;
  padding: 1rem;
}

#app {
  height: calc(100vh - 2rem);
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

select {
  display: table-row;
  height: 1.5rem;
  overflow: hidden;
}
option {
  display: table-cell;
  height: 1.5rem;
  text-align: center;
  vertical-align: middle;
  width: 1.2rem;
}

.toggle {
  margin: 0.5rem 0;
}

th,
td {
  padding: .2rem;
}
th:first-child,
td:first-child {
  border-right: 1px solid var(--gray-400);
}
tr:last-child td {
  border-bottom: 0;
}
td {
  border-top: 1px solid var(--gray-400);
}
td:empty {
  border-top: 0;
}
.routes label {
  cursor: pointer;
}
.routes input {
  cursor: pointer;
  margin-right: .5rem;
}
.routes .stop {
  padding: .1rem .2rem;
  position: relative;
}
.routes .stop::after {
  bottom: 0;
  content: '';
  left: 50%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
.routes .stop:first-of-type::after {
  border-radius: .2rem 0 0 .2rem;
  left: 0;
  width: 150%;
}
.routes .stop:nth-last-of-type(2)::after {
  border-radius: 0 .2rem .2rem 0;
  width: 150%;
}
.routes .stop:first-of-type:nth-last-of-type(2)::after {
  border-radius: .2rem;
  width: 200%;
}
.routes .stop.blue::after   { background: var(--blue-300); }
.routes .stop.green::after  { background: var(--green-300); }
.routes .stop.red::after    { background: var(--red-300); }
.routes .stop.yellow::after { background: var(--yellow-300); }

.map {
  background: var(--gray-100);
  margin-left: 1rem;
}
.map #arrow-head-blue   use { stroke: var(--blue-500); }
.map #arrow-head-green  use { stroke: var(--green-500); }
.map #arrow-head-red    use { stroke: var(--red-500); }
.map #arrow-head-yellow use { stroke: var(--yellow-500); }
.map text {
  fill: var(--gray-400);
  text-anchor: middle;
  transition: fill 0.2s;
}
.map .road line {
  stroke: var(--gray-300);
  stroke-width: 0.25rem;
  transition: stroke 0.2s;
}
.map .road text {
  font-weight: bold;

  /* Paint the stroke first; otherwise the fill will be underneath it */
  paint-order: stroke;

  stroke: var(--gray-100);
  stroke-opacity: 0.8;
  stroke-width: 0.3rem;
}
.map .road.blue   line { stroke: var(--blue-500); }
.map .road.green  line { stroke: var(--green-500); }
.map .road.red    line { stroke: var(--red-500); }
.map .road.yellow line { stroke: var(--yellow-500); }
.map .road.active text { fill: var(--gray-500); }
.map .stop circle {
  fill: white;
  stroke: var(--gray-300);
  stroke-width: 0.2rem;
  transition: fill 0.2s, stroke 0.2s;
}
.map .stop.active circle {
  fill: var(--gray-200);
  stroke: var(--gray-500);
}
.map .stop.active text {
  fill: var(--gray-700);
  font-weight: bold;
}
.map .stop.endpoint circle {
  stroke: var(--gray-700);
}
